# Compute human-algorithm correlation

* 사람실험 결과와 알고리즘 출력 간의 correlation을 계산한다.
* 데이터 자체에 대한 분석은 별도의 노트북인 `human_label.ipynb` 를 참고한다.

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import matplotlib.pyplot as plt

In [13]:
df_result = pd.read_csv('anon_results.csv')
df_result.index.name = 'id'
df_result = df_result.reset_index()#.rename(columns={df_result.index.name: 'id'})
df_triplet = pd.read_csv('triplets.csv')
df_triplet = df_triplet.set_index('triplet_id')

## 1. Basic Stats

In [15]:
'''users and the numers of their labels'''
df_result.groupby('user_id').count()['id'].sort_values(ascending=False)

user_id
user_5     1753
user_8     1618
user_1     1518
user_0     1239
user_22    1029
user_38    1007
user_15     604
user_37     407
user_19     190
user_34     188
user_16     170
user_40     109
user_41     100
user_35      88
user_25      86
user_6       72
user_2       68
user_9       67
user_4       46
user_7       45
user_3       40
user_20      37
user_18      35
user_11      35
user_28      34
user_24      21
user_13      20
user_26      14
user_30      11
user_36       9
user_39       8
user_21       8
user_32       7
user_23       6
user_10       5
user_27       5
user_33       3
user_12       3
user_29       2
user_17       2
user_31       2
user_14       1
Name: id, dtype: int64

In [16]:
'''filter users with low answer count (<10)'''
filter_count = 10
user_count = df_result.groupby('user_id').count()['id']
l_filtered_users = (user_count[user_count > filter_count]).index.to_list()
print(l_filtered_users)
print(len(l_filtered_users))

['user_0', 'user_1', 'user_11', 'user_13', 'user_15', 'user_16', 'user_18', 'user_19', 'user_2', 'user_20', 'user_22', 'user_24', 'user_25', 'user_26', 'user_28', 'user_3', 'user_30', 'user_34', 'user_35', 'user_37', 'user_38', 'user_4', 'user_40', 'user_41', 'user_5', 'user_6', 'user_7', 'user_8', 'user_9']
29

In [17]:
len(df_triplet)

1752

## 2. Inter-user agreement score for each user

### Agreement metric from (Grodo and Larlus, 2017)
For each triplet,

$o1, o2$: the number of times the first (resp. second) image was chosen.  
$o3$: the number of times people did not pick any of the two images.  

Agreement score is computed as 

$$
s = (\frac{o_1+o_2 - 1}{o_1 + o_2 + o_3 - 1}) (\frac{o_i - 1}{o_1 + o_2 - 1})
$$
where $o_i$ $i\in\{1,2\}$ is the choice of the user.

## Our agreement metric
Let  
$o1, o2$ : the number of times the first (resp. second) image was chosen.  
$p$ : the number of times both of images were chosen  
$q$ : the nubmer of times neither of images were chosen


If a person choses the first or the second image,  
$$
s = \frac{o_i + 0.5 p - 1}{o_1 + o2 + p + q - 1}
$$
where $o_i$ $i\in\{1,2\}$ is the choice of the user.

If a person choses the "both" option,
$$
s = \frac{0.5o_1 + 0.5o_2 + p - 1}{o_1 + o_2 + p + q - 1}
$$

If a person choses the "neither" options,
$$
s = 0

$$

Given a person, the score is averaged over the whole triplet which he/she labeled.

In [18]:
'''prepare answer_cnt'''
answer_cnt = df_result[['id', 'triplet_id', 'answer']].pivot_table(index='triplet_id', columns='answer', aggfunc='count').fillna(0)
answer_cnt.columns = answer_cnt.columns.droplevel(0)
answer_cnt = answer_cnt.rename(columns={0:'o1', 1:'o2', 2:'both', 3:'neither'})
answer_cnt['o3'] = answer_cnt['both'] + answer_cnt['neither']
answer_cnt.head()

answer       o1   o2  both  neither   o3
triplet_id
3           5.0  0.0   1.0      0.0  1.0
4           0.0  5.0   0.0      0.0  0.0
9           7.0  0.0   0.0      0.0  0.0
14          5.0  0.0   0.0      0.0  0.0
15          4.0  1.0   1.0      0.0  1.0

In [19]:
'''user agreement'''
user_agree = {'user': [], 'score': []}
for user in l_filtered_users:    
    print(user)
    df_answer_person = df_result[df_result['user_id'] == user].sort_values('triplet_id')
    l_score = []
    for i, row in df_answer_person.iterrows():
        triplet_id = row['triplet_id']
        if row['answer'] not in (0, 1, 2):
            continue

        answer = answer_cnt.loc[triplet_id]
        o1, o2, o3, p, q = answer['o1'], answer['o2'], answer['o3'], answer['both'], answer['neither']

        # requires more than two active votes for the triplet
        if o1 + o2 < 2:
            continue

        if row['answer'] in {0, 1}:
            if row['answer'] == 0:
                oi = o1
            else:
                oi = o2
            s = (oi + 0.5 * p  - 1) / (o1 + o2 + p + q - 1)
        elif row['answer'] == 2:
            s = (0.5 * o1 + 0.5 * o2 + p - 1 ) / (o1 + o2 + p + q - 1)
        else:
            s = 0
        

        l_score.append(s)
    score = np.mean(l_score)
    user_agree['user'].append(user)
    user_agree['score'].append(score)
user_agree = pd.DataFrame(user_agree)    
user_agree.head()
print(user_agree.mean(), user_agree.std())

user_0
user_1
user_11
user_13
user_15
user_16
user_18
user_19
user_2
user_20
user_22
user_24
user_25
user_26
user_28
user_3
user_30
user_34
user_35
user_37
user_38
user_4
user_40
user_41
user_5
user_6
user_7
user_8
user_9
score    0.726913
dtype: float64 score    0.050892
dtype: float64

## Agreement between algorithm and human

Let  
$o1, o2$ : the number of times the first (resp. second) image was chosen.  
$p$ : the number of times "both" icon were chosen  
$q$ : the nubmer of times "neither" icon of images were chosen


If an algorithm choses the first or the second image, it recieves the following agreement score  
$$
s = \frac{o_i + 0.5 p - 1}{o_1 + o_2 + p + q - 1}
$$
where $o_i$ $i\in\{1,2\}$ is the choice of the algorithm.

In [7]:
def read_similarity_data(algo, df_triplet):
    '''pre-fetch similarity scores'''
    d_sim = {}
    result_path = '/data/project/rw/viewer_CBIR/viewer/vg_coco_results/'
    for query_id, by_qid in df_triplet.groupby('query_id'):
        l_target_ids = list(by_qid['target_id1']) + list(by_qid['target_id2'])
        
        data = pd.read_csv(os.path.join(result_path, algo, f'{query_id}.tsv'), delimiter='\t', header=None)
        data = data.rename(columns={0:'id', 1:'sim'}).set_index('id')
#         sim = data.loc[[int(s) for s in l_target_ids]].to_dict()['sim']
        sim = data.reindex([int(s) for s in l_target_ids]).to_dict()['sim']
        d_sim[query_id] = sim
    return d_sim

In [8]:
def read_result(algo, query_id, l_target_ids):
    result_path = '/data/project/rw/viewer_CBIR/viewer/vg_coco_results/'
    data = pd.read_csv(os.path.join(result_path, algo, f'{query_id}.tsv'), delimiter='\t', header=None)
    data = data.rename(columns={0:'id', 1:'sim'}).set_index('id')
    return data.loc[[int(s) for s in l_target_ids]].to_dict()['sim']

In [38]:
# l_algorithms = ['sbert_rerank100', 'vg_gin_big_epoch_24', 'boo_tf', 'vg_gcn_epoch_24', 'resnet', 'gwl_gen_wordonly_rerank', 'gencap_sbert', 'vg_resnet_reg_epoch_257']
l_algorithms = ['vg_gcn_noatt_epoch_24', 'vg_gcn_randrel_epoch_24']
# l_algorithms = ['gwl_gen_wordonly_rerank']
algo_scores = {'triplet_id': list(answer_cnt.index)}
d_resnet_sim = read_similarity_data('resnet', df_triplet)
for algo in tqdm(l_algorithms):
    d_sim_result = read_similarity_data(algo, df_triplet)
    l_score = []
    for triplet_id, row in answer_cnt.iterrows():
        o1, o2, o3, p, q = row['o1'], row['o2'], row['o3'], row['both'], row['neither']

        if o1 + o2  < 2:
            l_score.append(np.nan)
            continue
            
        # get algorithm's prediction
        triplet = df_triplet.loc[triplet_id]
        sim1 = d_sim_result[triplet['query_id']][triplet['target_id1']]
        sim2 = d_sim_result[triplet['query_id']][triplet['target_id2']]
        
        # process reranking
        if (np.isnan(sim1)) and (np.isnan(sim2)):
            sim1 = d_resnet_sim[triplet['query_id']][triplet['target_id1']]
            sim2 = d_resnet_sim[triplet['query_id']][triplet['target_id2']]
        elif (np.isnan(sim1)) and not (np.isnan(sim2)):
            sim1 = - np.inf
        elif not (np.isnan(sim1)) and (np.isnan(sim2)):
            sim2 = - np.inf
        
        if sim1 > sim2:
            oi = o1
        else:
            oi = o2
        
        s = (oi + 0.5 * p ) / (o1 + o2 + p + q )
        l_score.append(s)
    algo_scores[algo] = l_score
algo_scores = pd.DataFrame(algo_scores)

  0%|          | 0/2 [00:00<?, ?it/s]
 50%|█████     | 1/2 [00:03<00:03,  3.67s/it]
100%|██████████| 2/2 [00:07<00:00,  3.67s/it]

In [39]:
algo_scores.mean()

triplet_id                 4957.963470
vg_gcn_noatt_epoch_24         0.605820
vg_gcn_randrel_epoch_24       0.603854
dtype: float64

In [24]:
algo_scores.mean()

triplet_id    4995.389622
boo_tfidf        0.593685
dtype: float64

In [102]:
algo_scores.mean()

triplet_id                 4995.389622
gwl_rerank                    0.580386
gwl_gen_wordonly_rerank       0.590975
dtype: float64

In [23]:
# l_algorithms = ['sbert_rerank100', 'vg_gin_big_epoch_24', 'boo_tf', 'vg_gcn_epoch_24', 'resnet', 'gwl_gen_wordonly_rerank', 'gencap_sbert', 'vg_resnet_reg_epoch_257']
# l_algorithms = ['matching_regression_attnode_tail_4_rerank']
l_algorithms = [f'random_{i}' for i in range(10)]
algo_scores = {'triplet_id': list(answer_cnt.index)}
# d_resnet_sim = read_similarity_data('resnet', df_triplet)
for algo in tqdm(l_algorithms):
#     d_sim_result = read_similarity_data(algo, df_triplet)
    l_score = []
    for triplet_id, row in answer_cnt.iterrows():
        o1, o2, o3, p, q = row['o1'], row['o2'], row['o3'], row['both'], row['neither']

        if o1 + o2  < 2:
            l_score.append(np.nan)
            continue
            
        # get algorithm's prediction
         
        # get algorithm's prediction
        triplet = df_triplet.loc[triplet_id]
        sim1 = np.random.rand()
        sim2 = np.random.rand()
#         sim1 = d_sim_result[triplet['query_id']][triplet['target_id1']]
#         sim2 = d_sim_result[triplet['query_id']][triplet['target_id2']]
        
        
        
        if sim1 > sim2:
            oi = o1
        else:
            oi = o2
        
        s = (oi + 0.5 * p ) / (o1 + o2 + p + q )
        l_score.append(s)
    algo_scores[algo] = l_score
algo_scores = pd.DataFrame(algo_scores)

  0%|          | 0/10 [00:00<?, ?it/s]
 10%|█         | 1/10 [00:00<00:04,  2.05it/s]
 20%|██        | 2/10 [00:00<00:03,  2.05it/s]
 30%|███       | 3/10 [00:01<00:03,  2.04it/s]
 40%|████      | 4/10 [00:01<00:02,  2.04it/s]
 50%|█████     | 5/10 [00:02<00:02,  2.04it/s]
 60%|██████    | 6/10 [00:02<00:01,  2.04it/s]
 70%|███████   | 7/10 [00:03<00:01,  2.04it/s]
 80%|████████  | 8/10 [00:03<00:00,  2.05it/s]
 90%|█████████ | 9/10 [00:04<00:00,  2.05it/s]
100%|██████████| 10/10 [00:04<00:00,  2.04it/s]

In [25]:
a = algo_scores.mean()

In [28]:
a.drop('triplet_id').mean()

0.47186033624495216

In [29]:
a.drop('triplet_id').std()

0.011238115494062404