# Download human label data from IMLAB DB

* IMLAB의 MySQL DB로부터 데이터를 불러온다.
* 왜인지 브레인 클라우드에서는 MySQL로의 접속이 이루어지지 않는다. 로컬이나 별도의 DB접속 프로그램을 이용해야함.
* DB 접속 후

In [1]:
from mysql import connector
import pandas as pd
from time import time
from datetime import datetime

In [2]:
db_info = {'host': 'imlab-ws3.snu.ac.kr',
           'user': 'cbir',
           'passwd': 'cbir@kakao',
           'database': 'CBIR'}

In [3]:
with connector.connect(**db_info) as conn:
    with conn.cursor() as c:
        c.execute("select id, user_id, answer, triplet_id from results_v2")
        df_result = pd.DataFrame(c.fetchall(), columns=['id', 'user_id', 'answer', 'triplet_id'])
        
        c.execute("select triplet_id, query_id, target_id1, target_id2 from triplets_v2")
        df_triplet = pd.DataFrame(c.fetchall(), columns=['triplet_id', 'query_id', 'target_id1', 'target_id2'])

InterfaceError: 2003: Can't connect to MySQL server on 'imlab-ws3.snu.ac.kr:3306' (110 Connection timed out)

In [ ]:
time_str =  f'{datetime.now():%Y%m%d%H%M}'
df_result.to_csv(f'results_v2_{time_str}.csv')
df_triplet.to_csv(f'triplets_v2_{time_str}.csv')